<div class="page-body">
  <div class="page-head">
    <h2>My Page Heading</h2>
    <div class="page-head-abstract">
      Eu aliquip principes eam, audiam molestiae ex eum, cum suscipit pericula at. 
      Eu idque nostro oblique qui. Ad eos oblique diceret intellegebat, ius nisl prodesset ad. 
      Ceteros praesent an nec.
    </div>
  </div>
  <div class="page-content">
    <div>
      <h3>Fugit doming vocent at pro. Eu mea utroque mentitum invenire tantas complectitur eum?</h3>
    </div>
    <div class="custom-controls-stacked">
      <label class="custom-control custom-radio">
        <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Toggle this custom radio</span>
      </label>
      <label class="custom-control custom-radio">
        <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Or toggle this other custom radio</span>
      </label>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-default waves-effect">Back</button>
    <button type="button" class="btn btn-secondary waves-effect">Save</button>
    <button type="button" class="btn btn-default waves-effect">Next</button>
  </div>
</div>

